.mat-card {
	max-width: 600px;
	margin: 30px auto;
	text-align: center;
	max-height: 600px;
}

h2 {
	font-size: 30px;
	letter-spacing: 1px;
	font-weight: 700;
}

.input-field {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
}