<mat-card>
	<mat-card-title [class.completed]="!todo.status">{{todo.title}}</mat-card-title>
	<mat-card-subtitle [class.subtitle-red]="!todo.status">{{ todo.subtitle }}</mat-card-subtitle>
	<mat-card-content>{{todo.text}}</mat-card-content>
	<mat-card-actions align="end">
		<button mat-raised-button color="primary" [disabled]="!todo.status" (click)="completeTodo(todo)">Complete</button>
		<button mat-raised-button color="warn" (click)="deleteTodo(todo.id!)">Delete</button>
	</mat-card-actions>
</mat-card>