.mat-card {
	margin: 20px auto;
}

.mat-card-title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}

.mat-card-subtitle {
	color: #008000
}

.subtitle-green {
	color: rgb(20, 163, 20);
}

.subtitle-red {
	color: rgb(175, 7, 7);
}

.completed {
	text-decoration: line-through;
}

.mat-card-content {
	font-size: 20px;
}