.mat-card {
	padding: 25px;
	margin: 20px auto;
}

.box-shadow-red {
	box-shadow: 5px 3px 5px rgb(205, 53, 53);
}

.box-shadow-green {
	box-shadow: 5px 3px 5px rgb(32, 123, 18);
}

.mat-card-title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}

.mat-card-subtitle {
	color: #008000
}

.subtitle-green {
	color: rgb(20, 163, 20);
}

.subtitle-red {
	color: rgb(175, 7, 7);
}

.completed {
	text-decoration: line-through;
}

.mat-card-content {
	font-size: 20px;
	line-height: 24px;
}