.mat-toolbar {
	height: 70px;
}

.btn-add {
	background-color: green;
	margin: 0px 10px 0px 0px;
}

.mat-button-toggle-group {
	font-size: 16px;
}

h1 {
	font-size: 24px;
	font-weight: 800;
	font-style: italic;
}

.spacer {
	flex: 1 1 auto;
}

.logo {
	display: flex;
}