<mat-form-field appearance="standard">
	<mat-label>Search</mat-label>
	<input matInput type="text" placeholder="Enter title or text..." [(ngModel)]="searchStr">
</mat-form-field>

<div class="todos" *ngIf="allTodos$ | async as todos">
	<div *ngIf="todos.length; else loading">
		<div class="todos__card">
			<app-todo-card *ngFor="let todo of todos | searchTodo:searchStr" [todo]="todo"></app-todo-card>
		</div>
		<div class="todos__buttons btn">
			<div class="btn__done">
				<button mat-fab color="primary" (click)="completeAll(todos)">
					<mat-icon>done_all</mat-icon>
				</button>
				<p>complete all</p>
			</div>
			<div class="btn__delete">
				<button mat-fab color="warn" (click)="deleteAll()">
					<mat-icon>delete</mat-icon>
				</button>
				<p>delete all</p>
			</div>
			<div class="btn__sort">
				<button mat-fab color="accent" (click)="sorting()">
					A-Z
				</button>
				<p>sorting</p>
			</div>
		</div>
	</div>
	<div class="todos__count" *ngIf="allTodos$ | async as todos">
		<span>{{ todos.length }}</span>
	</div>
</div>

<ng-template #loading>
	<img src="../../assets/loading.gif" alt="" style="margin: 0 auto;">
</ng-template>